*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    width: 400px;
    height: 700px;
    border-radius: 10px;
    background-color: black;
    padding: 40px 20px;
    margin:  0 auto;
    position: relative;
    box-shadow:  0px 50px 50px rgb(255, 251, 251);

}
.warning{
    background-color: orange !important;
}
.calCaunt{
    height: 50px;
    margin: 15px 0;
    text-align: end;
    color: #fff;
    text-shadow: 1px 1px 1px red;
    border-bottom: 1px solid;
}
.history{
    height: 120px;
    color: rgb(255, 255, 255);
    text-align: end;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.sa{
    width: 400px;
    height: 150px;
}
.history h6{
    margin: 0;
}
.history::-webkit-scrollbar{
    display: none;
}
.amal{
    position: absolute;
    top: 25%;
    left: 20px;
    font-size: 35px;
color: rgb(255, 255, 255);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    row-gap: 10px;
    margin-top: 100px;
    
}
.buttons .btn{
    width: 20%;
    margin: 5px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.buttons .btn:hover{
    color: aqua;
}